.padding-top{
	padding-top: 10px;
}
.margin-top{
	margin-top: 10px;
}
.margin-top-md{
	margin-top: 20px;
}
.border-bottom{
	border-bottom: 1px solid black;
	margin-bottom:10px;
}
body {
background: url(/images/food.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
   font-size: 14px;
}